.hello-there__img {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .hello-there__img {
    width: 188px;
    margin-top: 18px;
  }
}

@media (min-width: 1024px) {
  .hello-there__img {
    width: 210px;
    margin-top: 15px;
  }
}

@media (min-width: 1280px) {
  .hello-there__img {
    width: 260px;
    margin-top: 7px;
  }
}
