.donations__custom-radio-button {
  border-radius: 200px;
  font-size: 28px;
  line-height: 39px;
  font-weight: normal;
  border: 1.7px solid #499b99;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  padding: 0 10px;
}

.donations__custom-radio-button:hover {
  border-color: #ffc124;
}

.donations__radio-button:checked + .donations__custom-radio-button {
  background-color: #ffc124;
  border-color: #ffc124;
}

@media (max-width: 1024px) {
  .donations__custom-radio-button {
    font-size: 25px;
    line-height: 31px;
    height: 47px;
  }
}

@media (max-width: 768px) {
  .donations__custom-radio-button {
    font-size: 23px;
  }
}

@media (max-width: 425px) {
  .donations__custom-radio-button {
    font-size: 19px;
    line-height: 29px;
    height: 39px;
  }
}
