.donations__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-gap: 18px;
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .donations__buttons {
    grid-gap: 14px;
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .donations__buttons {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .donations__buttons {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 6px;
    margin-bottom: 0;
  }
}
