.arrow-icon {
  font-size: 19px;
  width: 34px;
  height: 34px;
  background: url("./blue-arrow.png") center center no-repeat;
}

.arrow-icon:hover {
  background: url("./yellow-arrow.png") center center no-repeat;
}

@media only screen and  (max-width: 320px) {
  .arrow-icon {
    font-size: 14px;
    width: 26px;
    height: 22px;
  }
}
