@import url(./__background-img/header__background-img.css);
@import url(./__background-img/_name/header__background-img_name_trees.css);
@import url(./__background-img/_name/header__background-img_name_window.css);
@import url(./__background-img/_name/header__background-img_name_yellow-tree.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_border/header__link_border.css);

.header {
  background-color: #223d46;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 750px;
  border-bottom: 50px solid #429a6b;
}

@media (min-width: 1024px) {
  .header {
    height: 530px;
    border-bottom: 40px solid #429a6b;
  }
}

@media (min-width: 1280px) {
  .header {
    height: 650px;
    border-bottom: 50px solid #429a6b;
  }
}
