.carousel__slide-button_type_next {
  background-image: url(../../../../images/button-slide-next.png);
  align-self: end;
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .carousel__slide-button_type_next {
    margin-left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .carousel__slide-button_type_next {
    margin-left: 20px;
  }
}

@media screen and (max-width: 425px) {
  .carousel__slide-button_type_next {
    margin-left: 10px;
  }
}
