.carousel__slide-button_type_prev {
  background-image: url(../../../../images/button-slide-prev.png);
  margin-right: 30px;
}

@media screen and (max-width: 1024px) {
  .carousel__slide-button_type_prev {
    margin-right: 25px;
  }
}
