.additional-info__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 320px) {
  .additional-info__list {
    margin: 0;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .additional-info__list {
    margin: 0;
    padding-top: 4px;
  }
}
