@import url(./__text-main/donations__text-main.css);
@import url(./__text-small/donations__text-small.css);
@import url(./__link/donations__link.css);
@import url(./__inputs/donations__inputs.css);
@import url(./__input/donations__input.css);
@import url(./__buttons/donations__buttons.css);
@import url(./__radio-button/donations__radio-button.css);
@import url(./__custom-radio-button/donations__custom-radio-button.css);
@import url(./__submit-button/donations__submit-button.css);
@import url(./__last-radio-option/donations__last-radio-option.css);

.donations {
  padding: 100px 0 10px 0;
  margin: 0 120px;
  border-bottom: 1.7px solid #223d46;
}

@media screen and (max-width: 1280px) {
  .donations {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1024px) {
  .donations {
    padding: 84px 0 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .donations {
    padding: 68px 0 0 0;
    margin: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .donations {
    padding: 50px 0 0 0;
    margin: 0 16px;
  }
}
