.donations__text-main {
  font-size: 28px;
  line-height: 39px;
  font-weight: 500;
  margin: 34px 0 160px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .donations__text-main {
    font-size: 23px;
    line-height: 31px;
    margin: 32px 0 110px;
  }
}

@media screen and (max-width: 768px) {
  .donations__text-main {
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 90px;
  }
}
