.donations__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-gap: 18px;
  margin-bottom: 130px;
}

@media (max-width: 1024px) {
  .donations__buttons {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .donations__buttons {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    margin-bottom: 80px;
  }
}
