.header__background-img_name_yellow-tree {
  width: 430px;
  bottom: 0;
  right: -120px;
}

@media (min-width: 1024px) {
  .header__background-img_name_yellow-tree {
    width: 340px;
    right: 0;
  }
}

@media (min-width: 1280px) {
  .header__background-img_name_yellow-tree {
    width: 430px;
  }
}
