.header__background-img_name_trees {
  width: 400px;
  bottom: 0;
  left: -70px;
}

@media (min-width: 1024px) {
  .header__background-img_name_trees {
    width: 325px;
    left: 0;
  }
}

@media (min-width: 1280px) {
  .header__background-img_name_trees {
    width: 400px;
  }
}
