.header__background-img_name_window {
  width: 400px;
  top: 210px;
  left: calc(50% - 200px);
}

@media (min-width: 1024px) {
  .header__background-img_name_window {
    width: 330px;
    left: calc(50% - 165px);
    top: 150px;
  }
}

@media (min-width: 1280px) {
  .header__background-img_name_window {
    width: 410px;
    left: calc(50% - 205px);
    top: 170px;
  }
}
