.additional-info__list {
  margin: 49px 0 0 0;
  list-style-type: none;
  padding: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .additional-info__list {
    margin: 40px 0 0 0;
  }
}

@media only screen and (min-width: 1025px) {
  .additional-info__list {
    margin: 45px 0 0 0;
  }
}
