.donations__input-error {
  display: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 0;
  padding: 0;
}

.donations__input-error_type_active {
  display: block;
}
