.text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 18px 0 0;
}

@media (min-width: 1024px) {
  .text {
    font-size: 23px;
    line-height: 31px;
    margin: 15px 0 0;
  }
}

@media (min-width: 1280px) {
  .text {
    font-size: 28px;
    line-height: 39px;
    margin: 7px 0 0;
  }
}
