.about__text_type_subtitle {
  margin: 8px 0 34px;
}

@media only screen and (max-width: 425px) {
  .about__text_type_subtitle {
    margin: 0 0 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__text_type_subtitle {
    margin: 15px 0 40px;
    font-size: 23px;
    line-height: 31px;
  }
}

@media only screen and (min-width: 1025px) {
  .about__text_type_subtitle {
    margin: 12px 0 45px;
    font-size: 28px;
    line-height: 39px;
  }
}
