@import url(./__text/footer__text.css);

.footer {
  padding: 100px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 84px 40px 40px 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 72px 30px 30px 30px;
  }
}
