.carousel__slide {
  background-color: #ffc124;
  border-radius: 10px;
  list-style: none;
  position: relative;
}

.carousel__slide:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .carousel__slide {
    height: 166px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 768px) {
  .carousel__slide {
    height: 188px;
    margin-right: 22px;
  }
}
