.donations__submit-button {
  width: 100%;
  border-radius: 200px;
  font-size: 28px;
  line-height: 39px;
  font-weight: normal;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  padding: 0 10px;
  background-color: #FFC124;
  border: none;
  margin-bottom: 30px;
}

.donations__submit-button_type_inactive {
  background-color: #999;
}

@media (max-width: 1024px) {
  .donations__submit-button {
    font-size: 25px;
    line-height: 31px;
    height: 47px;
    margin-bottom: 28px;
  }
}

@media (max-width: 768px) {
  .donations__submit-button {
    font-size: 23px;
  }
}
