@import url(./__img/hello-there__img.css);
@import url(./__text/hello-there__text.css);
@import url(./__italic-text/hello-there__italic-text.css);
@import url(./__links/hello-there__links.css);

.hello-there {
  padding: 50px 16px 0;
}

@media (min-width: 768px) {
  .hello-there {
    grid-template-columns: auto auto;
    grid-template-rows: auto 235px auto;
    column-gap: 30px;
    display: grid;
    padding: 68px 40px 0;
  }

  .hello-there .content-title {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .hello-there {
    padding: 84px 40px;
    column-gap: 40px;
    grid-template-rows: auto 257px auto;
  }
}

@media (min-width: 1280px) {
  .hello-there {
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-rows: auto 307px auto;
  }
}

@media (min-width: 1440px) {
  .hello-there {
    padding-top: 100px;
  }
}
